md-calendar {
  width: 300px;
}


.datatable,
.datatable > div,
.datatable.fixed-header .datatable-header .datatable-header-inner {
  height: 100%;
  font-size: larger;
}

.datatable-header-cell{
  font-size:16px;
}
